.contact-info {
  margin-top: 5rem;
  background-color: white;
  min-height: 27rem;
  width: 100%;
  padding: 1rem 0;
}
.contact-info-container {
  
  min-height: 23rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  color:white;
}

.info-wrapper {
  background-color: #1a1a1a;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  gap: 1rem;
  height: 14rem;
  width: 95%;
  border-bottom: 1px solid #e9ecef;
  padding: 1.5rem;
}

.info-wrapper h1 {
  margin-top: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.info-wrapper p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.basic-info {
  
  text-align: left;
  padding: 0.5rem;
  height: 100%;
  width: 60%;
}
.mini-contact-info {
  text-align: left;
  padding: 0.5rem;
  height: 100%;
  width: 20%;
}
.mini-rules-info {
  text-align: left;
  height: 100%;
  width: 20%;
  padding: 0.5rem;
}

.details-info {
  background-color: #1a1a1a;
  height: 8rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1.5rem;
}



.amenities-new {
  background: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.amenities-new li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.details-info-first {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;

}
.details-info-second {
  height: 100%;
  width: 20%;
  display:flex;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;
}
.details-info-third {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;

}
.details-info p {
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.details-info-third ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  padding-bottom: 1.4rem;
}

.details-info-third li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}