#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
html {
  height: 100%;
  width: 100%;
}